<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Participant Information Sheet{% endblock %}

{% block content %}
{% load static %}
<div class="row">
	<div class="col-sm-4">
		<img src="{% static 'doorgame/Manchester_Met_Image.png' %}" id="manchester_met_image" alt="Manchester Metropolitan Image">
	</div>
	<div class="col-sm-6">
	</div>
	<div class="col-sm-2" id="manchester_met_logo_div">
		<img src="{% static 'doorgame/Manchester_Met_Logo.png' %}" id="manchester_met_logo" alt="Manchester Metropolitan Logo">
	</div>
</div>

<h2 style="text-align:center"> Participant Information Sheet</h2>
<h3>1. Invitation to research</h3> 
<p>I would like to invite you to take part in a computer simulation of a door game and a memory test.  My name is Ozen Sengulen, and I am a MSc Psychology student at Manchester Metropolitan University. My research project will explore people’s decision making and emotions during a memory task.  It will be submitted as my Psychology MSc dissertation.  It may also be submitted for publication.</p>

<h3>2. Why have I been invited?</h3> 
<p>You have been invited to take part because you are over 18 and your first language is English.</p>  

<h3>3. Do I have to take part?</h3> 
<p>It is up to you to decide. The study is described in this information sheet, and please do email me with any further questions that you have.  If you decide to take part, you will be asked to sign a consent form to take part in the study.  You are free to withdraw at any
time, without giving any reason. If you would like to withdraw from the study after the data collection, you can do that within a month.  You should email your unique ID name to indicate that you wish to withdraw from the study.</p>


<h3>4. What will I be asked to do?</h3>  
<p>You will click on a link that will take you to the study.  The study contains a memory task and a door game.  The experiment will start with a memory task.  Then you will play the door game and answer the game host’s question before remembering the memory task.  Then there will be a couple of questions about the game and your demographic data.</p> 
<p>The only identifying information that will be collected is your age, gender and level of education.  A unique ID name will be generated when you click on the link to access to the study.  You need to keep this name safe.  If you want to withdraw from the study, you need to email me with your unique ID name.</p>

<h3>5. Are there any risks if I participate?</h3>
<p>There are no obvious risks that can be caused by the study.  However, if you feel distressed due to the study, you can leave the study at any time or wish to withdraw afterwards.  You can also contact to The Samaritans, Mind and if appropriate MMU student counselling service as well as your GP.  You can find the contact details of these organisations at the end of this sheet. </p> 

<h3>6. Are there any advantages if I participate? </h3>
<p>If you complete the study through the Research Pool you will gain 
points that you can use towards submitting your own research project for 
participants. Other than this, there are no direct advantages or rewards, 
but you will be contributing to a study that aims to answer a gap in the literature.</p>


<h3>8. What will happen with the data I provide?</h3> 
<p>When you agree to participate in this research, we will collect from you personally-identifiable information. </p>
<p>The Manchester Metropolitan University (‘the University’) is the Data Controller in respect of this research and any personal data that you provide as a research participant. </p>
<p>The University is registered with the Information Commissioner’s Office (ICO) and manages personal data in accordance with the General Data Protection Regulation (GDPR) and the University’s Data Protection Policy. </p>
<p>We collect personal data as part of this research (such as age, gender and level of education). As a public authority acting in the public interest we rely upon the ‘public task’ lawful basis. When we collect special category data (such as medical information or ethnicity) we rely upon the research and archiving purposes in the public interest lawful basis.  </p>
<p>Your rights to access, change or move your information are limited, as we need to manage your information in specific ways in order for the research to be reliable and accurate. If you withdraw from the study, we will keep the information about you that we have already obtained. </p>
<p>We will not share your personal data collected in this form with any third parties.</p>
<p>If your data is shared this will be under the terms of a Research Collaboration Agreement which defines use, and agrees confidentiality and information security provisions. It is the University’s policy to only publish anonymised data unless you have given your explicit written consent to be identified in the research. The University never sells personal data to third parties. </p>
<p>We will only retain your personal data for as long as is necessary to achieve the research purpose.  Your data will be stored for up to five years on a password protected computer, and then deleted. Data will be linked with a unique ID name and never with identifiable information to ensure anonymity. </p>
<p>For further information about use of your personal data and your data protection rights please see the University’s Data Protection Pages (https://www2.mmu.ac.uk/data-protection/). </p>
<h3>What will happen to the results of the research study? </h3>
<p>Results will be submitted as my Psychology MSc dissertation.  If advised by the research team, it may be disseminated to relevant psychology journals.</p>

<h3>Who has reviewed this research project?</h3>
<p>The project has been developed under the supervision of Dr Benjamin L. Harkin, Senior Lecturer, Department of Psychology and has been reviewed and approved by Manchester Metropolitan University’s Research Ethics Committee.</p>

<h3>Who do I contact if I have concerns about this study or I wish to complain?</h3>
<p>If you have any general questions about the study, please contact the researcher or supervisor.  The researcher, Ozen Sengulen, can be contacted via her email ozen.sengulen@stu.mmu.ac.uk
The supervisor, Dr Benjamin L. Harkin, can be contacted via his e-mail address b.harkin@mmu.ac.uk .</p>

<p>If you have any concerns about the study, please contact Chris Wills at the 
Department of Psychology Ethics Panel, at the e-mail address HPSCEthics@mmu.ac.uk, by calling 0161 247 2282, or at the postal address Department of Psychology, Manchester Metropolitan University, Brooks Building, 53 Bonsall Street, Manchester, M15 6GX.</p>

<p> If you have any concerns regarding the personal data collected from you, our Data Protection Officer can be contacted using the legal@mmu.ac.uk e-mail address, by calling 0161 247 3331 or in writing to: Data Protection Officer, Legal Services, All Saints Building, Manchester Metropolitan University, Manchester, M15 6BH. You also have a right to lodge a complaint in respect of the processing of your personal data with the Information Commissioner’s Office as the supervisory authority. Please see: https://ico.org.uk/global/contact-us/</p>

<p>Should you experience any distress during participation in the study please consider the following contacts for further support:
The Samaritans listening service: http://www.samaritans.org t: 116 123 e: jo@samaritans.org
Mind mental health charity: http://www.mind.org.uk t: 0330 123 3393 e: info@mind.org.uk
Manchester Metropolitan University Student Counselling Service: https://www.mmu.ac.uk/student-life/wellbeing/counselling-and-mental-health/</p>


<p>THANK YOU FOR CONSIDERING PARTICIPATING IN THIS PROJECT 
</p>


<form id="form-go-to-consent-questions" action="/prelim/consent_questions" method="POST">

  <input type="hidden" value="1" name="go_to_consent_questions">
  <a id="go_to_consent_questions"><button>Continue to next page</button></a>
{% csrf_token %}
</form>


{% if user.is_authenticated %}


{% load static %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}
