<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<p> CONSENT FORM
Cognitive Resources and Regret on the Monty Hall Game
Study Title: Cognitive Resources and Regret on the Month Hall Game 
I would like to invite you to my research project that investigates people’s decision making processes and emotions during a memory task.  
During the experiment, there will be a memory and decision-making task, and also a question about your emotions.  
After the experiment, there will be some demographic questions for you to answer</p>

<p> If you like to take part in the study, please mark each box below with your chosen answer.  
If you have any questions or queries before signing and returning the consent form to the researcher, 
please contact the researcher Ozen Sengulen ozen.sengulen@stu.mmu.ac.uk or 
the researcher’s supervisor Dr Benjamin L. Harkin b.harkin@mmu.ac.uk  t: (0)161 247 5477</p>

<ol> Number 1:</ol>
<p> I confirm that I have read the participant information sheet.</p>

<ol> Number 2:</ol>
<p> I have had the opportunity to consider the information, ask questions and have had these answered satisfactorily.</p>

<ol> Number 3:</ol>
<p> I understand that my participation is voluntary and that I am free to withdraw at any time without giving any reason, 
  without my legal rights being affected, up until a month after taking part in this study.</p>

<ol> Number 4:</ol>
<p> I agree to participate in the project to the extent of the activities described to me in the above participant information sheet.</p>

<ol> Number 5:</ol>
<p> I agree for any artefacts I create during participation to remain in the possession of the researcher. 
  Identifiable artefacts will not be used in research outputs.</p>

<ol> Number 6:</ol>
<p> I understand and agree that data collected during the project may be shared with authorised staff from Manchester Metropolitan University.</p>

<ol> Number 7:</ol>
<p> I understand that once my data has been anonymised and incorporated into the report it might not be possible for it to be withdrawn, 
  though every attempt will be made to extract my data, up until a month after taking part in this study.</p>

<ol> Number 8:</ol>
<p> I give permission for a fully anonymised version of the data I provide to be deposited in an Open Access repository so 
  that it can be used for future research and learning. </p>


<form id="form-go-to-prelim_one" action="/prelim_one" method="POST">

  <input type="hidden" value="1" name="go_to_prelim_one">
  <a id="go_to_prelim_one"><button>I consent to the above terms.</button></a>
{% csrf_token %}
</form>


{% if user.is_authenticated %}


{% load static %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}
