<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<p> CONSENT FORM
Cognitive Resources and Regret on the Monty Hall Game
Study Title: Cognitive Resources and Regret on the Month Hall Game 
I would like to invite you to my research project that investigates people’s decision making processes and emotions during a memory task.  During the experiment, there will be a memory and decision-making task, and also a question about your emotions.  After the experiment, there will be some demographic questions for you to answer

If you like to take part in the study, please mark each box below with your chosen answer.  If you have any questions or queries before signing and returning the consent form to the researcher, please contact the researcher Ozen Sengulen ozen.sengulen@stu.mmu.ac.uk or the researcher’s supervisor Dr Benjamin L. Harkin b.harkin@mmu.ac.uk  t: (0)161 247 5477
</p>

<ol> Number 1:</ol>


<form id="form-go-to-prelim_one" action="/prelim_one" method="POST">

  <input type="hidden" value="1" name="go_to_prelim_one">
  <a id="go_to_prelim_one"><button>I consent to the above terms.</button></a>
{% csrf_token %}
</form>


{% if user.is_authenticated %}


{% load static %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}
