<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}
<style>
img {
  width: 100%;
  height: auto;
}
</style>
<div style="height:130px;">
	<h2>Welcome to the door game</h2>


	{% if user.is_authenticated %}

	<p>Please make your initial choice by clicking on one of the three doors</p>

</div>

{% load static %}
<div class="row">
	<div class="col-sm-3">
	</div>
	<div class="col-sm-2">
		<form id="form-id-door1" action="/choose_door" method="POST">
			<input type="hidden" value="1" name="door_chosen">
			<a href="#" onclick="select_wait_then_submit('1');">
				<div id="div_door_1">
					<img src="{% static 'doorgame/door.png' %}" id="door1" alt="door1">
				</div>
			</a>
			{% csrf_token %}
		</form>
	</div>
	<div class="col-sm-2">
		<form id="form-id-door2" action="/choose_door" method="POST">
			{% csrf_token %}
			<input type="hidden" value="2" name="door_chosen">
			<a href="#" onclick="select_wait_then_submit('2');">
				<div id="div_door_2">
					<img src="{% static 'doorgame/door.png' %}" id="door2" alt="door2">
				</div>
			</a>
		</form>
	</div>

	<div class="col-sm-2">
		<form id="form-id-door3" action="/choose_door" method="POST">

			<input type="hidden" value="3" name="door_chosen">
			{% csrf_token %}
			<a href="#" onclick="select_wait_then_submit('3');">
				<div id="div_door_3">
					<img src="{% static 'doorgame/door.png' %}" id="door3" alt="door3">
				</div>
			</a>
		</form>
	</div>
</div>
<br>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}

<script>
function select_wait_then_submit(door_number) {
	
	document.getElementById(
		"div_door_"+door_number).innerHTML = '<img src="/static/doorgame/red_door.jpg" id="door'+door_number+'" alt="door'+door_number+'">';
	setTimeout( function() {then_submit(door_number);},door_click_delay);
}

function then_submit(door_number) {
	document.forms['form-id-door'+door_number].submit();
}

var door_click_delay = 2000

</script>

{% endblock %}
