<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}
<style>
img {
  width: 70%;
  height: auto;
}
</style>

<h2>Welcome to the door game</h2>


{% if user.is_authenticated %}


{% load static %}
<div class="row">
	<div class="col-sm-4">
		<form id="form-id-door1" action="/choose_door" method="POST">
			<input type="hidden" value="1" name="door_chosen">
			<a href="#" onclick="document.forms['form-id-door1'].submit();">
				<img src="{% static 'doorgame/door.png' %}" id="door1" alt="door1">
			</a>
			{% csrf_token %}
		</form>
	</div>
	<div class="col-sm-4">
		<form id="form-id-door2" action="/choose_door" method="POST">
			{% csrf_token %}
			<input type="hidden" value="2" name="door_chosen">
			<a href="#" onclick="document.forms['form-id-door2'].submit();">
				<img src="{% static 'doorgame/door.png' %}" id="door2" alt="door2">
			</a>
		</form>
	</div>

	<div class="col-sm-4">
		<form id="form-id-door3" action="/choose_door" method="POST">

			<input type="hidden" value="3" name="door_chosen">
			{% csrf_token %}
			<a href="#" onclick="document.forms['form-id-door3'].submit();">
				<img src="{% static 'doorgame/door.png' %}" id="door3" alt="door3">
			</a>
		</form>
	</div>
</div>
<br>
  <p><a href="{% url 'logout' %}" id="logout_link_anchor">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}