{% extends 'base.html' %}

{% block content %}

<h2>Thanks for completing the task</h2>

<p>Please complete the following questions</p>

<form id="form-final-survey" action="/final_survey_three_completed" method="POST" name="formfinalsurvey" onsubmit="checkform(event)">

	<p> Were you familiar with the Monty Hall problem before playing the game (Yes/No)?</p>
		<input type="radio" id="yes" name="familiar" value="yes">
		<label for="yes">Yes</label></br>
		<input type="radio" id="no" name="familiar" value="no">
		<label for="no">No</label></br>
        <div id="div_familiar_warning"></div>
	<p> How old are you?</p>
		<input type="number" id="age" name="age">
        <div id="div_age_warning"></div>
	<p>What is your gender?</p>
	  <input type="radio" id="male" name="gender" value="male">
	  <label for="male">Male</label><br>
	  <input type="radio" id="female" name="gender" value="female">
	  <label for="female">Female</label><br>
      <div id="div_gender_warning"></div>
	<p>What is the highest level of education you attained?</p>
		<input type="radio" id="bachelor" name="education_level" value="bachelor">
	  	<label for="bachelor">Bachelor</label><br>
	  	<input type="radio" id="master" name="education_level" value="master">
	  	<label for="master">Master</label><br>
	  	<input type="radio" id="doctor" name="education_level" value="doctor">
	  	<label for="doctor">Doctorate</label><br>
        <div id="div_university_warning"></div>

	<input type="submit" id="complete-the-survey" value="I have completed the survey"><div id="div_genenal_warning"></div>
{% csrf_token %}
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>
 

<script>


    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            var inputs = $(this).parents("form").eq(0).find(":input");
            if (inputs[inputs.index(this) + 1] != null) {                    
                inputs[inputs.index(this) + 1].focus();
            }
            e.preventDefault();
            return false;
        }
    });

    function checkform(evt) {
    	var myForm = document.formfinalsurvey;
    	var condition = true;
    	if(myForm.familiar.value.length == 0) {
    		document.getElementById("div_familiar_warning").innerHTML = '<p><font color="red">Warning: this can\'t be blank</font></p>';
    		document.getElementById("div_genenal_warning").innerHTML = '<p><font color="red">Warning: there is an error above please address this then try to submit again</font></p>'
    		condition = false;
    	};
        if(myForm.age.value.length == 0) {
            document.getElementById("div_age_warning").innerHTML = '<p><font color="red">Warning: this can\'t be blank</font></p>';
            document.getElementById("div_genenal_warning").innerHTML = '<p><font color="red">Warning: there is an error above please address this then try to submit again</font></p>'
            condition = false;
        };
        if(myForm.gender.value.length == 0) {
            document.getElementById("div_gender_warning").innerHTML = '<p><font color="red">Warning: this can\'t be blank</font></p>';
            document.getElementById("div_genenal_warning").innerHTML = '<p><font color="red">Warning: there is an error above please address this then try to submit again</font></p>'
            condition = false;
        };
        if(myForm.education_level.value.length == 0) {
            document.getElementById("div_university_warning").innerHTML = '<p><font color="red">Warning: this can\'t be blank</font></p>';
            document.getElementById("div_general_warning").innerHTML = '<p><font color="red">Warning: there is an error above please address this then try to submit again</font></p>'
            condition = false;
        };


        if(!condition) {
            if(evt.preventDefault) { event.preventDefault(); }    
            else if(evt.returnValue) { evt.returnValue = false; }    
            else { return false; }
        }
    };

</script>

{% endblock %}