{% extends 'base.html' %}

{% block content %}

<h2>Thanks for completing the task</h2>

<p>Please complete the following questions</p>

<form id="form-final-survey" action="/final_survey_completed" method="POST">
	<p>You played a total of 60 games of the Monty Hall Dilemma.  In the appropriate spaces below, enter the number of games in which you recall that you:</p>
		<label for="stayed-lost">STAYED with your initial door and LOST:</label><input type="number" id="stayed-lost" name="stayed-lost"></br>
		<label for="stayed-won">STAYED with your initial door and WON:</label>
		<input type="number" id="stayed-won" name="stayed-won"></br>
		<label for="switched-lost">SWITCHED to the other door and LOST:</label>
		<input type="number" id="switched-lost" name="switched-lost"></br>
		<label for="switched-won">SWITCHED to the other door and WON:</label>
		<input type="number" id="switched-won" name="switched-won"></br>

	<p> Are you familiar with the Monty Hall problem?</p>
		<input type="radio" id="yes" name="familiar" value="yes">
		<label for="yes">Yes</label></br>
		<input type="radio" id="no" name="familiar" value="no">
		<label for="no">No</label></br>
	<p> How old are you?</p>
		<input type="number" id="age" name="age">
	<p>What is your gender?</p>
	  <input type="radio" id="male" name="gender" value="male">
	  <label for="male">Male</label><br>
	  <input type="radio" id="female" name="gender" value="female">
	  <label for="female">Female</label><br>
	<p>What level did you study at university until?</p>
		<input type="radio" id="bachelor" name="education-level" value="bachelor">
	  	<label for="bachelor">Bachelor</label><br>
	  	<input type="radio" id="master" name="education-level" value="master">
	  	<label for="master">Master</label><br>
	  	<input type="radio" id="doctor" name="education-level" value="doctor">
	  	<label for="doctor">Doctorate</label><br>

	<input type="submit" id="complete-the-survey" value="I have completed the survey">
{% csrf_token %}
</form>

{% endblock %}