{% extends 'base.html' %}

{% block content %}

<h2>Thanks for completing the task</h2>

<p>Please complete the following questions</p>

<form id="form-final-survey_two" action="/final_survey_two_completed" method="POST" name="formfinalsurveytwo" onsubmit="checkform(event)">
	<p>You played a total of 60 games of the Monty Hall Dilemma.  In the appropriate spaces below, enter the number of games in which you recall that you: 1) STAYED with your initial door and LOST; 2) STAYED with your initial door and won; 3) SWITCHED to the other door and LOST; and 4) SWITCHED to the other door and WON.  Make sure that the sum of your estimates is equal to 60.  Click the submit button only after you have entered an estimate in each space below and the sum of your estimates is equal to 60.</p>
		<label for="stayed-lost">STAYED with your initial door and LOST:</label>
		<input type="number" id="stayed-lost" name="stayed-lost" class="trial-estimate"></br><div id="div_stayed_lost_warning"></div>
		<label for="stayed-won">STAYED with your initial door and WON:</label>
		<input type="number" id="stayed-won" name="stayed-won" class="trial-estimate"></br>
		<label for="switched-lost">SWITCHED to the other door and LOST:</label>
		<input type="number" id="switched-lost" name="switched-lost" class="trial-estimate"></br>
		<label for="switched-won">SWITCHED to the other door and WON:</label>
		<input type="number" id="switched-won" name="switched-won" class="trial-estimate"></br>
		<div id="div_total_warning"></div>
        <div id="div_total_sumbmit_warning"></div>
        <div id="div_total"></div>



	<input type="submit" id="complete-the-survey" value="I have completed the survey"><div id="div_genenal_warning"></div>
{% csrf_token %}
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>
 

<script>
	var sum_of_totals = 0
    $('.trial-estimate').keyup(function () {
		// initialize the sum (total price) to zero
    	var sum = 0;

    	// we use jQuery each() to loop through all the textbox with 'price' class
	    // and compute the sum for each loop
	    $('.trial-estimate').each(function() {
        	sum += Number($(this).val());
    	});
        sum_of_totals = sum

	    console.log(sum)
        console.log(sum_of_totals)
	    // set the computed value to 'totalPrice' textbox
	    $('.div_total').val(sum);
        
	    if (sum != 60) {
	    	document.getElementById("div_total_warning").innerHTML = '<p><font color="red">Warning: Total has to add upto 60.  Your numbers add upto '+sum.toString()+'.  Please change your entries above until the total is 60.</font></p>'
	    } else {
            document.getElementById("div_total_warning").innerHTML = ''
        };
    });

    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            var inputs = $(this).parents("form").eq(0).find(":input");
            if (inputs[inputs.index(this) + 1] != null) {                    
                inputs[inputs.index(this) + 1].focus();
            }
            e.preventDefault();
            return false;
        }
    });

    function checkform(evt) {
    	
        var condition = false;

        var sum = 0;

        $('.trial-estimate').each(function() {
            sum += Number($(this).val());
        });

        console.log(sum)
        console.log("the check form function has run")
        if (sum != 60) {
            condition = false
        } else {
            condition = true
        };

    	if(condition){ condition =  confirm('Do you want to submit the form?'); }

        if(!condition) {
            if(evt.preventDefault) { event.preventDefault(); }    
            else if(evt.returnValue) { evt.returnValue = false; }    
            else { return false; }
        }
    };

</script>

{% endblock %}