<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<h2>Welcome to the door game</h2>


{% if user.is_authenticated %}
	<p>Hi {{ user.username }}!</p>

{% load static %}
<img method="POST" src="{% static 'doorgame/door.jpg' %}" id="door1" alt="door1">
<img src="{% static 'doorgame/door.jpg' %}" id="door2" alt="door2">
<img src="{% static 'doorgame/door.jpg' %}" id="door3" alt="door3">


  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}