<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}


{% block content %}


<style>
img {
  width: 100%;
  height: auto;
}
label {
    margin-bottom: 0px;
    margin-top: 0px;
}

</style>

<div style="height:80px;">
    {% if user.is_authenticated %}

    <h2 id="final_pattern_message">Can you remember the pattern from before?</h2>

    <p>Please click on the squares</p>

</div>


{% block form_start_html_tag %}
{% endblock %}
<div class="col-sm-4">
</div>
<div id="memory_game">
    <div class="row no-gutters">
        <div class="col-sm-4">
        </div>
        {% block first_row_for_loop_start %}
        {% endblock %}
    </div>

    <div class="row no-gutters">
        <div class="col-sm-4">
        </div>
        {% block second_row_for_loop_start %}
        {% endblock %}
    </div>

    <div class="row no-gutters">
        <div class="col-sm-4">
        </div>
        {% block third_row_for_loop_start %}
        {% endblock %}
    </div>

    {% block forth_row %}
    {% endblock %}
</div>

{% block checkbox_hidden_for_loop %}
{% endblock %}

</br>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-5">
            {% block submit_button_memory_game %}
            {% endblock %}
        </div>
    </div>
</div>
</br>

{% block close_form_tag %}


{% endblock %}



{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
<script>


document.addEventListener("DOMContentLoaded", function (event) {
    
    var _selectors = [];
    for (let i = 1; i <{% block limit_of_event_listener %}{% endblock %}; i++) {
        _selectors[i] = document.querySelector('input[name=box_'+ i.toString() + ']')
        _selectors[i].addEventListener('change', function (event) {
            if (_selectors[i].checked) {
                document.getElementById("div_box_" + 
                     i.toString()).innerHTML = '<img src="/static/doorgame/box_with_dot.png" id="box_'+i.toString()+'_image" alt="box_'+i.toString()+'">'
            } else {
                document.getElementById("div_box_" + i.toString()).innerHTML = '<img src="/static/doorgame/box_empty.png" id="box_'+i.toString()+'_image" alt="box_'+i.toString()+'">'
            }
        });

    };
});


</script>

{% block delay_for_prelims_script %}
{% endblock %}

{% endblock %}
