<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<style>
img {
  width: 100%;
  height: auto;
}

</style>
<div style="height:80px;">

  {% if user.is_authenticated %}

  {% block trial_number %}
  {% endblock %}

</div>

{% load static %}


<div class="row no-gutters">
  <div class="col-sm-5">
  </div>
  <div class="col-sm-2" id="countdown_display">
    <p id="demo"></p>
  </div>
</div>

<div id="memory_game" style="display:none">
  <div class="row no-gutters">
    <div class="col-sm-4">
      </div>
    <div class="col-sm-1">
      {% if memory_game.box_1 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_1" alt="box_1">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_1" alt="box_1">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_2 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_2" alt="box_2">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_2" alt="box_2">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_3 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_3" alt="box_3">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_3" alt="box_3">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_4 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_4" alt="box_4">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_4" alt="box_4">
      {% endif %}
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-4">
      </div>
    <div class="col-sm-1">
      {% if memory_game.box_5 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_5" alt="box_5">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_5" alt="box_5">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_6 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_6" alt="box_6">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_6" alt="box_6">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_7 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_7" alt="box_7">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_7" alt="box_7">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_8 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_8" alt="box_8">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_8" alt="box_8">
      {% endif %}
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-4">
      </div>
    <div class="col-sm-1">
      {% if memory_game.box_9 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_9" alt="box_9">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_9" alt="box_9">
      {% endif %}
    </div>
      <div class="col-sm-1">
      {% if memory_game.box_10 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_10" alt="box_10">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_10" alt="box_10">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_11 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_11" alt="box_11">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_11" alt="box_11">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_12 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_12" alt="box_12">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_12" alt="box_12">
      {% endif %}
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-4">
      </div>
    <div class="col-sm-1">
      {% if memory_game.box_13 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_13" alt="box_13">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_13" alt="box_13">
      {% endif %}
    </div>
      <div class="col-sm-1">
      {% if memory_game.box_14 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_14" alt="box_14">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_14" alt="box_14">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_15 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_15" alt="box_15">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_15" alt="box_15">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_16 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_16" alt="box_16">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_16" alt="box_16">
      {% endif %}
    </div>
  </div>
</div>

{% block go_to_form_game %}
{% endblock %}

<br>

<script>
    function redirect(){
       window.location.href = {% block auto_redirect_location %}{% endblock %};
    }

    setTimeout(redirect, 7000); //2000 is equivalent to 2 seconds
</script>
<script>
// Set the date we're counting down to
var countDown = 6;

// Update the count down every 1 second
var x = setInterval(function() {
  // Take away one from the countdown number
  countDown--;
  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = countDown;
  // If the count down is finished, write some text
  if (countDown < 1) {
    clearInterval(x);
    document.getElementById("countdown_display").innerHTML = '<img src ="{% static 'doorgame/red_cross.png' %}" id="red_cross" alt="red_cross">';
  }
}, 1000);

</script>



{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}