
<style>
img {
  width: 100%;
  height: auto;
}
</style>

{% load static %}

<h2>Example Monty Hall Game</h2>

<p>Monty asks you to choose one of the tree doors.  Let's say you chose the door number 2 in this trial.</p>

<div class="col-sm-8">
	<img src="{% static 'doorgame/door_a.jpg' %}" id="doorpic1" alt="door_picture_1">
</div>



<p>Then, Monty reveals one of the two unchosen doors to reveal one of the goats.  He never reveals the car.</p>
<p>Let's say he opened the door number 3 in this trial.</p>


<div class="col-sm-8">
	<img src="{% static 'doorgame/door_b.jpg' %}" id="doorpic2" alt="door_picture_2">
</div>


<p>Monty asks you whether you would like to stick with your first choice or switch to the other unopened door.</p>
<p>Let's say you sticked with your initial choice in this trial.  At the end, Monty opens all the doors to show you where the car is.</p>

<div class="col-sm-8">
	<img src="{% static 'doorgame/door_c.jpg' %}" id="doorpic3" alt="door_picture_3">
</div>


<p>Well done you won in this trial</p>


<p><a href= {% url 'memory_game_initial_turn' %}>Let's play the game.</a></p>
