<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<p>You will now have <u><b>two practise turns on the memory task.</u></b></p>

<p> You will see a matrix with randomly placed dots on it.</p>

<p> You will have only <u><b>1 second</u></b> to memorise the position of the dots on the matrix.</p>
<p> After the 1 second memorisation period, you will see an empty matrix to place the dots as well as you can remember.  You need to click inside the each square to place the dots.</p>
<br>

<p>This is <u><b>a trial task</u></b>.  It is crucial that the dot pattern is reproduced <u><b>correctly</u></b> in the upcoming Monty Hall Game.</p>
<br>
<p>When you are ready go to the next page.  You will see a countdown from 5 before starting the <u><b>practice memory task</u></b>.  When the countdown finishes you will see a fixation cross (+) on the centre of the screen for 2 seconds before the <u><b>practice memory task starts.</u></b></p>


<form id="form-go-to-prelim-two" action="/prelim_two" method="POST">

  <input type="hidden" value="1" name="go_to_prelim_two">
  <a id="go_to_prelim_two"><button>Continue to next page</button></a>
{% csrf_token %}
</form>


{% if user.is_authenticated %}


{% load static %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}
