{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<h2>Well done</h2>

<p>Now play the memory task with the game.  In this study, you will play Monthy Hall Game with the memory task consecutively 60 times.</p>
<p>In this game, Monty Hall, a thoroughly honest game-show host, has placed the car behind one of three doors.</p>  
<p>There is a goat behind each of the other two doors.
	
<p>First, Monty will ask you to pick a door.  Then he will open one of the other two doors that you did not pick to reveal one of the goats</p>
<p>Then, Monty will ask you to make a final choice between the remaining doors, and you will win whatever is behind the door you select.</p>



<p>The aim is winning the car.  Remember:</p>

<ul>
	<li>The car and goats are randomly placed behind the doors.</li>
	<li>The unbiased host, Monty, knows where the car and goats are.</li>
	<li>Monty does not re-shuffle the car's location once you begin playing each game.</li>
	<li>Monty never opens your inital choice or reveals the car.</li>
	<li>Monty always reveals one of the goats.</li>
	<li>Monty always offers switch/stick options to the guests.</li>
	
	
</ul>
{% load static %}
<p><a href= {% url 'memory_game_initial_turn' %}>Let's play the game.</a></p>


{% if user.is_authenticated %}





  <p><a href="{% url 'logout' %}" id="logout_link_anchor">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}
