{% extends 'base.html' %}
{% block content %}
{% block title %}Feedback{% endblock %}
{% load static %}
<style>
img {
  width: 100%;
  height: auto;
}

</style>
<div id="feedback_text">
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-4">
			<p>This is what you chose:</p>
		</div>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
			<p>This is what it should have been:</p>
		</div>
	</div>
</div>
<div id="memory_game">
  <div class="row no-gutters">
    <div class="col-sm-1">
      </div>
        {% block first_row_for_loop_first_display_start %}
        {% endblock %}

    <div class="col-sm-2">
    </div>
	<!--This is the second display of the memory game-->

        {% block first_row_for_loop_second_display_start %}
        {% endblock %}

  </div>
  <div class="row no-gutters">
    <div class="col-sm-1">
      </div>
        {% block second_row_for_loop_first_display_start %}
        {% endblock %}

    <div class="col-sm-2">
    </div>
        {% block second_row_for_loop_second_display_start %}
        {% endblock %}


  </div>
  <div class="row no-gutters">
    <div class="col-sm-1">
      </div>
      {% block third_row_for_loop_first_display_start %}
        {% endblock %}


    <div class="col-sm-2">
    </div>
    {% block third_row_for_loop_second_display_start %}
    {% endblock %}



  </div>
    {% block fourth_row %}
    {% endblock %}

</div>
</br>

<div id="score_text">
	<div class="row">
		<div class="col-sm-1">
		</div>
		<div class="col-sm-4">
			<p>You got {{ number_of_dots_correct }} out of {{ number_of_dots_total }} correct.{% if excess_dots_message == True %}  You selected too many dots.{% endif %}
      </p>

		</div>

	</div>
</div>


<br>
{% endblock %}

{% block submit_button_general %}
{% if repeat_example == True %}
<p><a href="{% url 'prelim_two_second_go' %}" id="go_to_prelim_two_again">Continue to next page</a></p>
{% else %}
<p><a href="{% url 'prelim_four' %}">Continue to next page</a></p>
{% endif %}
{% endblock %}