<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<p> Welcome to the Monty Hall Game with the memory task.</p>

<p> This experiment was prepared to study people's decision making strategies under a memory condition</p>

<p> The memory condition contains a matrix with the randomly positioned dots.</p>

<p> Before the Monty Hall Game, you will see the matrix with randomly placed dots on it for 1s </p>
<p> Then you will play the Monty Hall Game.  After your decision is recorded, an empty matrix will be presented.  You will be asked to place the dots on the matrix correctly.</p>
<p> There is no time limit for the experiment</p>


<form id="form-go-to-prelim-one-part-b" action="/prelim_one_part_b" method="POST">

  <input type="hidden" value="1" name="go_to_prelim_one_part_b">
  <a id="go_to_prelim_one_part_b"><button>Continue to next page</button></a>
{% csrf_token %}
</form>


{% if user.is_authenticated %}


{% load static %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}
