<h2>Example Monty Hall Game</h2>

<p>Monty asks you to choose one of the tree doors.  Let's say you chose the door number 2 in this trial.</p>

put the picture door_a


<p>Then, Monty reveals one of the two unchosen doors to reveal one of the goats.  He never reveals the car.</p>
<p>Let's say he opened the door number 3 in this trial.</p>

put the picture door_b

<p>Monty asks you whether you would like to stick with your first choice or switch to the other unopened door.</p>
<p>Let's say you sticked with your initial choice in this trial.  At the end, Monty opens all the doors to show you where the car is.</p>

put picture door_c


<p>well done you won in this trial</p>
