{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<h2>Well done</h2>

<p> Now play the game with the decision task.  The decision task is the Monty Hall Problem.  Suppose you are in a game.  You are given 3 closed doors to chose from.  A car and 2 goats are randomly hidden behind the doors.  You are given the first choice to chose one door among 3.  Before you open your chosen door, Monty (the host) will open one of the twon unchosen doors and reveal one of the two goats.</p>

<p> Then you will be asked to stick with their first choice or switch.  The aim is winning the car.  Remember:</p>

<ul>
	<li>The prize and duds are randomly placed behind the doors.</li>
	<li>The unbiased host knows where the car and goats are.</li>
	<li>He always offers switch/stick options to the guests</li>
	<li>He always reveals one of the duds</li>
</ul>
<p><a href= {% url 'home' %}>Let's play the game.</a></p>


{% if user.is_authenticated %}


{% load static %}


  <p><a href="{% url 'logout' %}" id="logout_link_anchor">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}