<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<p> Welcome to the Monty Hall Game under a memory load.</p>

<p> This experiment was prepared to study people's decision making strategies under a memory load.</p>

<p> You will play Monty Hall Game after a memory task.</p>

<p> The memory task is a 4x4 matrix with randomly positions dots on it.  You will see the matrix only for 1 second.<u><b>You will have only 1 second to memorise them. </u></b> </p>
<br>
<p> Then you will play the Monty Hall Game. After your decision is recorded, an empty matrix will be presented. <u><b>You will be asked to place the dots on the matrix as much as you can remember.  </u></b></p>
<br>
<p> There is no time limit for the experiment</p>

{% if user.is_authenticated %}
	{% load static %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}

{% endblock %}

{% block submit_button_general %}
	<form id="form-go-to-prelim-one-part-b" action="/prelim_one_part_b" method="POST">
	  <input type="hidden" value="1" name="go_to_prelim_one_part_b">
	  <a id="go_to_prelim_one_part_b"><button>Continue to next page</button></a>
	{% csrf_token %}
	</form>
{% endblock %}
