{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}
{% load static %}
<div id="full_width_text">
<h2>Well done</h2>

<p>Now play the memory task with the Monty Hall Game.  In this study, you will play the Monty Hall Game. {% if display_trial_limit > 1 %} {{ display_trial_limit }} times.{% else %}{% endif %}</p>
<p>Before the Month Hall Game, there will be a dot memory task, that you have just practiced.</p>
<p>In this game, Monty Hall, a thoroughly honest game-show host, has placed a car behind one of three doors.</p>  
<p>There is a goat behind each of the other two doors.</p>
	
<p>First, Monty will ask you to pick a door.  Then he will open one of the other two doors, that you did not pick, to reveal one of the goats</p>
<p>Then, Monty will ask you to make a final choice between the remaining doors.  Which door do you think has the highest chance to win the car?</p>
<p>If you were in the real game, would you stick with your initial choice or switch to the other door?</p>

</div>

<div id="text_with_image">
	<div class="row">
		<div class="col-sm-8">

<p>You will win whatever is behind the door you finally select.</p>

<p>The aim is to win the car.</p>
	
<p>Remember:</p>

<ul>
	<li>The car and goats are randomly placed behind the doors.</li>
	<li>The unbiased host, Monty, knows where the car and goats are.</li>
	<li>Monty does not re-shuffle the car's location once you begin playing each game.</li>
	<li>Monty never opens your inital choice or reveals the car.</li>
	<li>Monty always reveals one of the goats.</li>
	<li>Monty always offers switch/stick options to the guests.</li>
	
</ul>
</div>
	<div class="col-sm-3">
		<div id="monty_picture">
			<img src="{% static 'doorgame/single_monty.jpg' %}" alt="Monty_image">
		</div>
	</div>
</div>
</div>
{% load static %}

{% if user.is_authenticated %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}

{% block submit_button_general %}
	<p><a href= {% url 'memory_game_initial_turn' %} id="go_to_prelim_five">Continue to next page</a></p>
{% endblock %}
