<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Door Game{% endblock %}

{% block content %}

<p>You will now have two practise goes on the memory game.</p>

<p> You need to remember the position of the four dots.</p>

<p> You will need to concentrate as they will be on the screen for a very short time.</p>


<form id="form-go-to-prelim-two" action="/prelim_two" method="POST">

  <input type="hidden" value="1" name="go_to_prelim_two">
  <a id="go_to_prelim_two"><button>Continue to next page</button></a>
{% csrf_token %}
</form>


{% if user.is_authenticated %}


{% load static %}


  <p><a href="{% url 'logout' %}" id="logout_link_anchor">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}
{% endblock %}