{% extends 'base.html' %}

{% block content %}

<h2>To what extent would you experience regret if you lost in a real game.</h2>

<p>1 = not at all    7 = extremely</p>

<form id="form-final-survey_one" action="/regret_completed" method="POST" name="formfinalsurveyone" onsubmit="checkform(event)">
	<div class="row">
        <div class="col-sm-2">
        </div>
        {% if regret_forwards_setting %}
            <div class="col-sm-1">
        		<input type="radio" id="regret_one" name="regret_value" value="1">
        		<label for="regret_one">1</label>
            </div>

            <div class="col-sm-1">
        		<input type="radio" id="regret_two" name="regret_value" value="2">
        		<label for="switch">2</label>
            </div>
            <div class="col-sm-1">
                <input type="radio" id="regret_three" name="regret_value" value="3">
                <label for="regret_one">3</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_four" name="regret_value" value="4">
                <label for="switch">4</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_five" name="regret_value" value="5">
                <label for="regret_one">5</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_six" name="regret_value" value="6">
                <label for="switch">6</label>
            </div>
            <div>
                <input type="radio" id="regret_seven" name="regret_value" value="7">
                <label for="switch">7</label>
            </div>
        {% else %}
            
            <div class="col-sm-1">
                <input type="radio" id="regret_seven" name="regret_value" value="7">
                <label for="switch">7</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_six" name="regret_value" value="6">
                <label for="switch">6</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_five" name="regret_value" value="5">
                <label for="regret_one">5</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_four" name="regret_value" value="4">
                <label for="switch">4</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_three" name="regret_value" value="3">
                <label for="regret_one">3</label>
            </div>

            <div class="col-sm-1">
                <input type="radio" id="regret_two" name="regret_value" value="2">
                <label for="switch">2</label>
            </div>
            
            <div class="col-sm-1">
                <input type="radio" id="regret_one" name="regret_value" value="1">
                <label for="regret_one">1</label>
            </div>
        {% endif %}
    </div>

        <div id="div_best_strategy_warning"></div>
	
	<input type="submit" id="complete-the-survey" value="Submit answer"><div id="div_genenal_warning"></div>
{% csrf_token %}
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>
 

<script>


    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            var inputs = $(this).parents("form").eq(0).find(":input");
            if (inputs[inputs.index(this) + 1] != null) {                    
                inputs[inputs.index(this) + 1].focus();
            }
            e.preventDefault();
            return false;
        }
    });

    function checkform(evt) {
    	var myForm = document.formfinalsurveyone;
    	var condition = true;
    	if(myForm.regret_value.value.length == 0) {
    		document.getElementById("div_best_strategy_warning").innerHTML = '<p><font color="red">Warning: this can\'t be blank</font></p>';
    		condition = false;
    	};
    	

        if(!condition) {
            if(evt.preventDefault) { event.preventDefault(); }    
            else if(evt.returnValue) { evt.returnValue = false; }    
            else { return false; }
        }
    };

</script>

{% endblock %}
