<!-- templates/registration/login.html -->
{% extends 'mem_game_blank_base_three_by_three.html' %}

{% block title %}Remember Memory Game{% endblock %}



{% block form_start_html_tag %}
<form id="form-go-to-door-game" action="/final_pattern" method="POST">
{% endblock %}
	
{% block submit_button_memory_game %}
</br>
<input type="submit" id="play_again_link" value="This is the pattern as best as I remember, let's play again.">
</br>
{% endblock submit_button_memory_game %}

{% block close_form_tag %}
{% csrf_token %}
</form>
{% endblock %}
