{% extends 'base.html' %}

{% block content %}

<h2>Thank you for taking part.</h2>

<p>Thank you for completing and taking part in my study that will contribute to my postgraduate dissertation.</p> 

<p>If you would like to withdraw from the study, please email me your unique ID number: {{ username }}</p> 

<p>Furthermore, if you have any questions regarding the study, for example withdrawal or the conte within the study please contact myself or my dissertation supervisor.</p>

<p>Ozen Sengulen – ozen.sengulen@stu.mmu.ac.uk</p>
<p>Hazel McMurtrie- h.mcmurtrie@mmu.ac.uk</p>
   
 <p>Thank you again for participating.</p>



{% if user.is_authenticated %}

 <p><a href="{% url 'logout' %}" id="logout_link_anchor">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}" id="login_link_anchor">login</a>
{% endif %}


{% endblock %}
