{% extends 'prelim_memory_game/prelim_three_part_b_feedback_base.html' %}
{% load static %}

{% block first_row_for_loop_first_display_start %}
    <div class="col-sm-1">
      {% if memory_game.box_1 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_1" alt="box_1">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_1" alt="box_1">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_2 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_2" alt="box_2">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_2" alt="box_2">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_3 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_3" alt="box_3">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_3" alt="box_3">
      {% endif %}
    </div>

{% endblock %}

{% block first_row_for_loop_second_display_start %}
    <div class="col-sm-1">
      {% if memory_game_original.box_1 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_1" alt="box_1">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_1" alt="box_1">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game_original.box_2 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_2" alt="box_2">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_2" alt="box_2">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game_original.box_3 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_3" alt="box_3">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_3" alt="box_3">
      {% endif %}
    </div>
{% endblock %}

{% block second_row_for_loop_first_display_start %}
  <div class="col-sm-1">
      {% if memory_game.box_4 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_4" alt="box_4">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_4" alt="box_4">
      {% endif %}
    </div>
  <div class="col-sm-1">
      {% if memory_game.box_5 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_5" alt="box_5">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_5" alt="box_5">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_6 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_6" alt="box_6">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_6" alt="box_6">
      {% endif %}
    </div>

{% endblock %}

{% block second_row_for_loop_second_display_start %}
  <div class="col-sm-1">
      {% if memory_game_original.box_4 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_4" alt="box_4">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_4" alt="box_4">
      {% endif %}
    </div>
  <div class="col-sm-1">
      {% if memory_game_original.box_5 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_5" alt="box_5">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_5" alt="box_5">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game_original.box_6 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_6" alt="box_6">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_6" alt="box_6">
      {% endif %}
    </div>

{% endblock %}

{% block third_row_for_loop_first_display_start %}
  <div class="col-sm-1">
      {% if memory_game.box_7 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_7" alt="box_7">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_7" alt="box_7">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game.box_8 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_8" alt="box_8">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_8" alt="box_8">
      {% endif %}
    </div>
  <div class="col-sm-1">
      {% if memory_game.box_9 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_9" alt="box_9">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_9" alt="box_9">
      {% endif %}
    </div>
{% endblock %}

{% block third_row_for_loop_second_display_start %}
<div class="col-sm-1">
      {% if memory_game_original.box_7 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_7" alt="box_7">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_7" alt="box_7">
      {% endif %}
    </div>
    <div class="col-sm-1">
      {% if memory_game_original.box_8 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_8" alt="box_8">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_8" alt="box_8">
      {% endif %}
    </div>
<div class="col-sm-1">
      {% if memory_game_original.box_9 == True %}
      <img src="{% static 'doorgame/box_with_dot.png' %}" id="box_9" alt="box_9">
      {% else %}
      <img src="{% static 'doorgame/box_empty.png' %}" id="box_9" alt="box_9">
      {% endif %}
    </div>
{% endblock %}
