{% extends 'memory_game/mem_game_blank_base_four_by_four.html' %}
{% block prelims_do_not_display %}
style="display:none"
{% endblock %}

{% block title %}Remembering the pattern{% endblock %}

{% block form_start_html_tag %}
{% if repeat_example == True %}
<form id="form_prelim_memory_game_first_go" action="/prelim_three_part_b_feedback" method="POST">
{% else %}
<form id="form_prelim_memory_game_second_go" action="/prelim_three_part_b_feedback_second_go" method="POST">
{% endif %}
{% endblock %}


{% block submit_button_memory_game %}

<input type="submit" id="play_again_link" value="Continue to next page">

{% endblock %}

{% block close_form_tag %}
{% csrf_token %}
</form>
{% endblock %}

{% block delay_for_prelims_script %}
<script>
    function show_all_content(){
       var all_content = document.getElementById("all_content");
       all_content.style.display = "block";
    }

    setTimeout(show_all_content, 2000); //2000 is equivalent to 2 seconds
</script>
{% endblock %}